Click==7.0
Flask==1.0.2
itsdangerous==1.1.0


Werkzeug==0.15.1
gunicorn==19.9.0
flask-socketio
socket.io


eventlet==0.17.4
googletrans == 2.4.0

requests==2.20.1
requests-html


Flask-Sockets==0.2.0

gevent-websocket==0.9.5


Jinja2==2.8
MarkupSafe==0.23
redis==2.10.5

